<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  IgnorableNamespaces="uap rescap uap5">

	<Identity
	  Name="44c5d01c-daff-4a8f-b9ff-4e95a0757a8b"
	  Publisher="CN=Martin"
	  Version="1.0.0.0" />

	<Properties>
		<DisplayName>WinAppSdkConsoleActivation</DisplayName>
		<PublisherDisplayName>Martin</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="WinAppSdkConsoleActivation"
			  Description="WinAppSdkConsoleActivation"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
			<Extensions>
				<uap5:Extension
					Category="windows.appExecutionAlias"
					Executable="WinAppSdkConsoleActivation.exe"
					EntryPoint="WinAppSdkConsoleActivation.App">
					<uap5:AppExecutionAlias>
						<uap5:ExecutionAlias Alias="WinAppSdkConsoleActivation.exe" />
					</uap5:AppExecutionAlias>
				</uap5:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
